doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/chatter.css')

    script( type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )
    script( type="text/javascript", src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" )
    script( type="text/javascript", src="https://cdn.socket.io/socket.io-1.2.0.js")
    script( type="text/javascript", src="js/chatterbox.js" )
  body

    include /public/fragments/menu-bar.html

    .container

      .row

        .col-sm-3

          #nickname
            label(for="nickname") Nickname
            input#username.form-control(placeholder="Nickname")
        
          br

          #room-select
            label Room Selector
            #room-select-group.list-group

          br

          #message-window
            label(for="message") Message
            textarea#message.form-control(rows="3", placeholder="Message")
            br
            button#btn-send-msg.btn.btn-sm.btn-success Send
            
          br

        .col-sm-7
          #messages

        .col-sm-2
          label Occupants

          .list-group#room-occupants
            br
            center Choose a room and its occupants will appear here