extend index-layout
block jumbotron 
  h1 Chatter Box! 

  p Say what you want 

block left
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius interdum molestie. Duis gravida ex eu posuere tristique. Mauris sem risus, faucibus in tellus sit amet, vestibulum iaculis ipsum. Aliquam non turpis vel magna pharetra fringilla. Vestibulum id elit accumsan, finibus metus at, pellentesque odio. Sed tincidunt convallis erat id faucibus. Pellentesque non urna non diam pellentesque tempor vel sed ex. Aliquam placerat eros at nulla congue, eget pretium tortor faucibus. Quisque venenatis non felis eget maximus. Nunc ac euismod elit, nec placerat eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas luctus enim sed elit sod ales, non lobortis neque congue. Morbi quam felis, tristique ac magna a, porttitor convallis enim. Nullam vitae ornare ipsum. Aliquam tristique justo vitae elementum tincidunt. Sed elementum a augue feugiat scelerisque.

block room-select
  b Rooms

block message-window
  p Enter your message